* {
  box-sizing: border-box;
  font-size: 15px;
  font-family: monospace;
}

main {
  margin: 10px 1% 100px;
}

.loading {
  opacity: 0.5;
}

input {
  padding: 5px;
  margin: 0 10px;
}

.search-input {
  margin: 20px 0 10px;
  width: 100%;
}

.current-search {
  padding-bottom: 20px;
  border-bottom: 2px solid #000;
}

.search-list li {
  margin-bottom: 5px;
}

.search-list span,
.search-list button {
  cursor: pointer;
}

.search-list button {
  margin-left: 10px;
}
